@charset "UTF-8";
/* Variable / Mixin */
/* Police */
@font-face {
  font-family: "robotoregular";
  src: url("../police/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot");
  src: url("../police/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../police/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff2") format("woff2"), url("../police/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("../police/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("../police/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../police/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot");
  src: url("../police/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../police/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff2") format("woff2"), url("../police/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff") format("woff"), url("../police/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf") format("truetype"), url("../police/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("../police/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot");
  src: url("../police/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../police/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff2") format("woff2"), url("../police/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff") format("woff"), url("../police/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.ttf") format("truetype"), url("../police/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikandregular";
  src: url(../police/shrikhand/Shrikhand-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
/* Body */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: unset;
  width: 100%;
  z-index: 0;
  position: relative;
}

.loading {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.85);
  animation: Backspin 3000ms 1 forwards;
  animation-delay: 3000ms;
}

.loading::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: rgb(213, 213, 213) solid 5px;
  border-bottom-color: #9356dc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes Backspin {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* Header */
.header-accueil {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-accueil__image {
  display: flex;
  justify-content: center;
}
.header-accueil__image img {
  width: 50%;
}

/* Localisation */
.div-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "robotoregular";
  font-weight: 600;
  border-top: 2px solid rgb(213, 213, 213);
  background-color: rgb(234, 234, 234);
}
.div-localisation__formulaire {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  width: 100%;
  gap: 15px;
  font-size: 4vw;
}
.div-localisation__input {
  width: 40%;
  font-size: 3.5vw;
  border: none;
  background-color: rgb(234, 234, 234);
}
.div-localisation__icone {
  align-items: center;
  display: flex;
}

/* Réservation */
.div-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  padding-bottom: 35px;
  background-color: rgb(246, 246, 246);
}
.div-reservation h1 {
  font-weight: 700;
  font-size: 6vw;
  font-family: "robotomedium";
  text-align: center;
  margin: 0px;
  width: 63%;
}
.div-reservation p {
  text-align: center;
  font-family: "robotoregular";
  font-size: 4vw;
  margin: 0px;
  padding: 5%;
}
.div-reservation .btn-pink {
  padding: 3%;
  border-radius: 40vh;
  border: 0px;
  color: white;
  background-color: #FF79DA;
  box-shadow: inset -10px -40px 40px -20px #9356dc, 4px 2px 9px 4px #d6d5d5;
  font-family: "robotomedium";
  font-size: 4vw;
}
.div-reservation .btn-pink__lien {
  text-decoration: none;
  color: white;
}
.div-reservation .btn-pink:hover {
  filter: brightness(1.2);
  box-shadow: inset -10px -40px 40px -20px #9356dc, 4px 2px 9px 4px #9c9a9a;
}

/* Fonctionnement */
.section-fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 5%;
  padding-bottom: 50px;
  gap: 20px;
}
.section-fonctionnement h2 {
  font-family: "robotomedium";
  font-size: 6vw;
  margin: 0px;
  padding: 3%;
}
.section-fonctionnement__liste-case {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-fonctionnement__case {
  display: flex;
  align-items: center;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 2px 9px 4px #F0F0F0;
  width: 100%;
  border-radius: 15px;
  gap: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
}
.section-fonctionnement__case--purple {
  background-color: rgb(245, 237, 255);
}
.section-fonctionnement__numero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 6vw;
  border-radius: 40px;
  margin-left: -3.5%;
  font-size: 4vw;
  color: white;
  background-color: rgb(147, 86, 220);
}
.section-fonctionnement__icone {
  color: rgb(126, 126, 126);
}
.section-fonctionnement__icone--purple {
  color: rgb(147, 86, 220);
}
.section-fonctionnement p {
  width: 100%;
  font-size: 4vw;
  font-weight: 550;
  font-family: "robotomedium";
}

/* Restaurants */
.section-restaurants {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 246);
  padding: 5%;
  gap: 5vw;
}
.section-restaurants__lien {
  text-decoration: none;
  color: black;
}
.section-restaurants__liste-card {
  gap: 20px 20px;
}
.section-restaurants h2 {
  font-family: "robotomedium";
  font-size: 6vw;
  margin-bottom: 5px;
}
.section-restaurants__card {
  position: relative;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 4px 2px 9px 4px #d6d5d5;
}
.section-restaurants__card--image {
  width: 100%;
  height: 35vw;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.section-restaurants__information {
  display: flex;
  padding: 3vw;
}
.section-restaurants__texte {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.section-restaurants__texte h3 {
  font-size: 5vw;
  margin: 0px;
  font-family: "robotomedium";
}
.section-restaurants__texte p {
  margin: 0px;
  font-size: 4vw;
  font-family: "robotoregular";
}
.section-restaurants__icone {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.section-restaurants__icone--coeur-vide {
  height: 8vw;
  border-radius: 0px;
}
.section-restaurants__icone--coeur-vide:hover + .section-restaurants__icone--coeur-plein {
  transform: scale(1);
}
.section-restaurants__icone--coeur-plein {
  position: absolute;
  top: 14%;
  height: 8.5vw;
  border-radius: 0px;
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 2000ms;
}
.section-restaurants__nouveau {
  position: absolute;
  background-color: #99E2D0;
  margin-top: 10px;
  padding: 5px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-family: "robotoregular";
  font-size: 4vw;
}
.section-restaurants__nouveau p {
  margin: 0px;
}

/* Footer */
footer {
  background-color: rgb(53, 53, 53);
  padding: 6%;
}
footer h2 {
  color: white;
  font-size: 6vw;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: "shrikandregular";
  font-weight: normal;
}

.footer-list__icone {
  font-size: 90%;
  margin-right: 10px;
}
.footer-list__icone-1 {
  font-size: 90%;
  margin-right: 15px;
}
.footer-list ul {
  margin: 0px;
  list-style-type: none;
  padding-left: 0px;
  color: #F0F0F0;
  font-family: "robotoregular";
  font-size: 4vw;
}
.footer-list li {
  margin-bottom: 5px;
}
.footer-list a {
  text-decoration: none;
  color: white;
}

/* Responsive */
/* Tablette */
@media screen and (min-width: 760px) {
  .div-localisation {
    font-size: 2.5vh;
  }
  .div-localisation__input {
    font-size: 2.5vh;
    width: 30%;
  }
  .div-localisation__icone i {
    font-size: 2.5vh;
  }
  .containeur-1-1 {
    display: flex;
  }
  .containeur-2 {
    display: flex;
  }
  .div-reservation {
    width: 40%;
    gap: 10px;
  }
  .div-reservation h1 {
    font-size: 4vh;
    width: 80%;
  }
  .div-reservation p {
    font-size: 3vh;
  }
  .div-reservation .btn-pink {
    font-size: 2.5vh;
    padding: 5%;
  }
  .section-fonctionnement {
    width: 40%;
  }
  .section-fonctionnement__liste-case {
    gap: 30px;
  }
  .section-fonctionnement h2 {
    font-size: 4vh;
  }
  .section-fonctionnement p {
    font-size: 2.5vh;
  }
  .section-fonctionnement__numero {
    width: 5vh;
    margin-left: -7%;
    font-size: 3vh;
    height: auto;
  }
  .section-restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 234, 234);
  }
  .section-restaurants h2 {
    margin: 0px;
    font-size: 5vh;
  }
  .section-restaurants__liste-card {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 25px;
  }
  .section-restaurants__card {
    width: 48%;
    margin-bottom: 0px;
  }
  .section-restaurants__nouveau {
    font-size: 2.5vh;
  }
  .section-restaurants__card--image {
    height: 25vh;
  }
  .section-restaurants__information {
    padding: 2vh;
  }
  .section-restaurants__texte h3 {
    font-size: 3vh;
  }
  .section-restaurants__texte p {
    font-size: 2.5vh;
  }
  .section-restaurants__icone--coeur-vide {
    height: 4vh;
  }
  .section-restaurants__icone--coeur-plein {
    height: 4.2vh;
    top: 21%;
  }
  footer {
    padding: 3%;
  }
  footer h2 {
    font-size: 4vh;
  }
  .footer-list ul {
    font-size: 2.5vh;
  }
}
/* Dekstop */
@media screen and (min-width: 1020px) {
  .containeur-general {
    display: flex;
  }
  .containeur-1 {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .containeur-1-1 {
    flex-direction: column;
  }
  .header-accueil img {
    width: 80%;
  }
  .div-localisation {
    border-bottom: 2px solid rgb(213, 213, 213);
    border-top: none;
  }
  .div-localisation__formulaire {
    font-size: 2vh;
  }
  .div-localisation__input {
    font-size: 2vh;
    min-width: 150px;
  }
  .div-reservation {
    width: 100%;
    gap: 20px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .div-reservation h1 {
    font-size: 3vh;
  }
  .div-reservation p {
    font-size: 2vh;
    padding: 0px;
  }
  .div-reservation .btn-pink {
    font-size: 2vh;
  }
  .section-fonctionnement {
    width: 100%;
    padding: 10px;
    padding-bottom: 25px;
  }
  .section-fonctionnement__case {
    width: 80%;
  }
  .section-fonctionnement__liste-case {
    align-items: center;
  }
  .section-fonctionnement__numero {
    width: 4vh;
    font-size: 2.5vh;
    margin-left: -6%;
  }
  .section-fonctionnement h2 {
    font-size: 3vh;
    margin-left: 10px;
    margin-top: 10px;
  }
  .section-fonctionnement p {
    font-size: 2vh;
  }
  .containeur-2 {
    width: 100%;
  }
  .section-restaurants {
    padding: 30px;
    gap: 20px 20px;
    width: 100%;
  }
  .section-restaurants h2 {
    font-size: 4vh;
  }
}

/*# sourceMappingURL=accueil.css.map */
