/* Police */

@font-face {
    font-family: 'robotoregular';
    src: url('../police/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('../police/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../police/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('../police/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../police/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../police/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot');
    src: url('../police/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff2') format('woff2'),
         url('../police/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'),
         url('../police/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../police/roboto-fontfacekit/web fonts/roboto_bold_macroman/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../police/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot');
    src: url('../police/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff2') format('woff2'),
         url('../police/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff') format('woff'),
         url('../police/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../police/roboto-fontfacekit/web fonts/roboto_medium_macroman/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'shrikandregular';
    src: url(../police/shrikhand/Shrikhand-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

/* Body */

body{
    margin: unset;
} 

/* Header */

.header-accueil{
    display: flex;
    padding: 15px;
    &__image{
        display: flex;
        width: 95%;
        justify-content: center;
        & img{
            width: 50%;
            max-width: 250px;
        }
    }
    &__icone{
        width: 5%;
        & a{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
    }
}

/* Image de fond */

.image-restaurant img{
    z-index: 1;
    width: 100%;
    height : 215px;
    object-fit:cover;

}

/* Section principale */

@keyframes test {
    from{
        transform: translate(40px)
    }
    to{
        transform: translate(0px)
    }
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes vignette {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes decalage {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}
.delay-1{
    animation: decalage 3s forwards;
}
.delay-2{
    animation: decalage 3s forwards;
    animation-delay: 0.3s;
}
.delay-3{
    animation: decalage 3s forwards;
    animation-delay: 0.6s;
}
.delay-4{
    animation: decalage 3s forwards;
    animation-delay: 0.9s;
}
.delay-5{
    animation: decalage 3s forwards;
    animation-delay: 1.2s;
}
.delay-6{
    animation: decalage 3s forwards;
    animation-delay: 1.5s;
}
.delay-7{
    animation: decalage 3s forwards;
    animation-delay: 1.8s;
}
.delay-8{
    animation: decalage 3s forwards;
    animation-delay: 2.1s;
}
.delay-9{
    animation: decalage 3s forwards;
    animation-delay: 2.4s;
}
.delay-10{
    animation: decalage 3s forwards;
    animation-delay: 2.7s;
}

.section-principale{
    position: relative;  
    z-index: 2;
    margin-top: -50px;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: rgb(246,246,246);
    & h2{
        font-family: 'robotoregular';
        text-transform: uppercase;
        font-size: 2.5vh;
        font-weight: lighter;
        width: 40px;
        padding-bottom: 5px;
        margin-left: 2%;
        border-bottom: 2px solid #99E2D0;
    }
    &__titre{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        padding: 25px 25px 0px 25px;
        & h1{
            font-family: 'shrikandregular';
            font-weight: normal;
            margin: 0px;
            font-size: 3.2vh;
        }
    }
    &__card{
        display: flex;
        background-color: white;
        border-radius: 15px;
        margin: 0px;
        opacity: 0;
        & h3{
            margin: 0px;
            font-family: 'robotoregular';
            font-size: 2.1vh;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &:hover{
            & > .section-principale__vignette{
                animation: vignette 1s linear; 
                width: 30%;
                background-color: #99E2D0;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                & i{
                    animation: spin 1s linear;
                }
            }
            & > .section-principale__prix{
	            animation: test 1s linear;
            }
        }
    }
    &__vignette{
        display: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: right;
        & i{
            color: white;
        }
    }
    &__texte{
        width: 100%;
        padding: 3% 3% 3% 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        & p{
            margin: 0px;
            font-family: 'robotoregular';
            font-size: 1.6vh;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &__prix{
        width: 20%;
        padding-bottom: 3%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        & p{
            margin: 0px;
            font-size: 1.6vh;
            font-weight: bold;
            font-family: 'robotoregular';
        }
    }
    &__entrées{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 3%;
    }
    &__plat{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 3%;
    }
    &__dessert{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 3%;
    }
    &__icone{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        &--coeur-vide{
            height: 25px;
            border-radius: 0px;
            &:hover{
                & + .section-principale__icone--coeur-plein{
                    transform:scale(1);
                }
            }
        }
        &--coeur-plein{
            position: absolute;
            height: 28px;
            border-radius: 0px; 
            transform: scale(0);
            transform-origin: bottom;
            transition: transform 2000ms;      
        }
    }
}
.containeur-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containeur-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containeur-3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-commander{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    &__pink{
    border-radius: 50px;
    padding: 1vh 4vh 1vh 4vh;
    border: 0px;
    color: white;
    background-color: #FF79DA;
    box-shadow: inset -10px -40px 40px -20px #9356dc, 4px 2px 9px 4px #d6d5d5;
    font-family: 'robotomedium';
    font-size: 2.5vh;
    &:hover{
        filter: brightness(1.20);
        box-shadow: inset -10px -40px 40px -20px #9356dc, 4px 2px 9px 4px #9c9a9a;
        }
    }
    &__lien {
       text-decoration: none;
       color: white;
    }
}


/* Footer */

footer{
    background-color:rgb(53,53,53);
    padding: 20px;
    width: auto;
    & h2{
        color: #FFFF;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 10px;
        font-family: 'shrikandregular';
        font-weight: normal;
    }
}
.footer-list{
    &__icone{
        font-size: 12px;
        margin-right: 10px;
    }
    & ul{
        margin: 0px;
        list-style-type: none;
        padding-left: 0px;
        color: #F0F0F0;
        font-family: 'robotoregular';
        font-size: 12px;
    }
    & li{
        margin-bottom: 5px;
    }
    & a{
        text-decoration: none;
        color: white;
    }
}

/* Responsive */

/* Tablette */

@media screen and (min-width:550px)
{
    .section-principale__titre{
        padding: 4% 5% 0% 5%;
        & h1{
            font-size: 3.5vh;
        }
    }
    .section-principale h2{
        font-size: 3vh;
    }
    .section-principale__card h3{
        font-size: 2.5vh;
    }
    .section-principale__texte p{
        font-size: 2vh;
    }
    .section-principale__prix p{
        font-size: 2vh;
    }
    .btn-commander__pink{
        font-size: 3vh;
    }
    footer h2{
      font-size: 2vh;
    }
    .footer-list li{
        font-size: 2vh;
    }
}

/* Responsive */

/* Desktop */

@media screen and (min-width:950px)
{
    .containeur-1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px 30px;
    }
    .containeur-2{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .containeur-3{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .section-principale__card{
        width: 31%;
    }
    .btn-commander{
        padding-top: 70px;
    }
    .section-principale__entrées{
        padding: 2% 3% 0% 3%;
    }
    .section-principale__plat{
        padding: 2% 3% 0% 3%;
    }
    .section-principale__dessert{
        padding: 2% 3% 0% 3%;
    }
    .section-principale h2{
        font-size: 2.5vh;
    }
    .section-principale__card h3{
        font-size: 2vh;
    }
    .section-principale__texte p{
        font-size: 1.5vh;
    }
    .section-principale__prix p{
        font-size: 1.5vh;
    }
}